# Puerto en el que correrá el servicio
PORT=3003

# Configuración de la base de datos MySQL
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=tu_contraseña_mysql
DB_NAME=calendar_service_db

# Secreto para JWT (si se implementa autenticación)
# JWT_SECRET=tu_secreto_jwt

# Entorno (development, production, test)
NODE_ENV=development